.imageForgot{
    background-image: url(/public/img/bgForgot2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.forgotPassForm{
    width: 40%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;

    background: rgba(0, 0, 0, 0.26);
    box-shadow: 39px 0px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
}
.btnForgot{
    padding: 15px 25px;
    font-size: 18px;
    color: var(--colorLightGrey);
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 39px 0px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.5s;
}
.btnForgot:hover{
    color: var(--colorGold);
    transform: translate(5px, -5px);
    background: rgba(0, 0, 0, 0.226);
}
.fa-lock{
    text-shadow: 0px 0px 22px var(--colorBlack);
}


.loginBox .inputForgot{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--colorBlack);
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
  }

  .loginBox .spanForgot{
    position: absolute;
    left:0;
    bottom: 0px;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: var(--colorLightGrey);
    pointer-events:none;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  
  .loginBox .inputForgot:valid ~ span,
  .loginBox .inputForgot:focus ~ span{
    color: var(--colorGold);
    transform: translateX(0px) translateY(-40px);
    font-size: 0.90em;
  }

  .loginBox .i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--colorGold);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }


  /* FORM RESET PASSWORD */
  .imageReset{
    background-image: url(/public/img/bgReset2.jpg);
    background-size: cover;
  }
  .formResetPassword{
    width: 30%;
    min-height: 50vh;
    padding: 30px;
    position: relative;

    background: rgba(0, 0, 0, 0.26);
    box-shadow: 39px 0px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  /* occhio per visualizzazione password */
  .eyePassword{
    position: absolute;
    right: 4%;
    z-index: 20;
    top: 40%;
    color: var(--colorWhiteSmoke);
    opacity: 50%;
    transition: 0.5s;
  }
  .eyePasswordRegLog{
    position: absolute;
    right: -0%;
  }


  .loginBox .inputReset{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--colorBlack);
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
  }

  .loginBox .spanReset{
    position: absolute;
    left:0;
    bottom: 0px;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: var(--colorLightGrey);
    pointer-events:none;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  
  .loginBox .inputReset:valid ~ span,
  .loginBox .inputReset:focus ~ span{
    color: var(--colorGold);
    transform: translateX(0px) translateY(-40px);
    font-size: 0.90em;
  }

  .loginBox .i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--colorGold);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  .btnResetPass{
    padding: 15px 25px;
    font-size: 18px;
    color: var(--colorLightGrey);
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 39px 0px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.5s;
}
.btnResetPass:hover{
    color: var(--colorGold);
    transform: translate(5px, -5px);
    background: rgba(0, 0, 0, 0.226);
}